<h1>Editing Investment</h1>

<%= render "form", invest: @invest %>

<br>

<div>
  <%= link_to "Show this Investment", @invest, class:'btn btn-primary' %> 
  <br/><br/>
  <%= link_to "Back to Investmets overwiew", invests_path, class:'btn btn-dark' %>
</div>
